<head>
    <title>Movie Database Management</title>
</head>
<body>
    <h1>Movie Database Management</h1>

    <a href="{{ url_for('dbmanager') }}">Reload</a>

    {% if message %}

    Message: {{ message }}
    
    {% endif %}

    <h2>Add Audience User</h2>
    <form action="/add_audience" method="post">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required><br><br>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required><br><br>
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required><br><br>
        <label for="surname">Surname:</label>
        <input type="text" id="surname" name="surname" required><br><br>
        <input type="submit" value="Add Audience User">
    </form>

    <h2>Add Director User</h2>
    <form action="/add_director" method="post">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required><br><br>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required><br><br>
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required><br><br>
        <label for="surname">Surname:</label>
        <input type="text" id="surname" name="surname" required><br><br>
        <label for="nationality">Nationality:</label>
        <input type="text" id="nationality" name="nationality" required><br><br>
        <label for="platformid">Platform ID:</label>
        <input type="text" id="platformid" name="platformid"><br><br>
        <input type="submit" value="Add Director User">
    </form>

    <h2>Delete Audience</h2>
    <form action="/delete_audience" method="post">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required><br><br>
        <input type="submit" value="Delete Audience User">
    </form>

    <h2>Update Director's Platform</h2>
    <form action="/update_platform" method="post">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required><br><br>
        <label for="platformid">Platform ID:</label>
        <input type="text" id="platformid" name="platformid"><br><br>
        <input type="submit" value="Update Platform">
    </form>

    
    <h2>View Directors</h2>
    <form action="/view_directors" method="get">
        <input type="submit" value="View All Directors">
    </form>

    <h2>View Audience Ratings</h2>
    <form action="/view_ratings" method="post">
        <label for="audience_username">Audience's Username:</label>
        <input type="text" id="audience_username" name="audience_username" required><br><br>
        <input type="submit" value="View Ratings">
    </form>

    <h2>View Director's Movies</h2>
    <form action="/view_director_movies" method="post">
        <label for="director_username">Director's Username:</label>
        <input type="text" id="director_username" name="director_username" required><br><br>
        <input type="submit" value="View Movies">
    </form>

    <h2>View Average Movie Rating</h2>
    <form action="/view_movie_rating" method="post">
        <label for="movie_id">Movie ID:</label>
        <input type="text" id="movie_id" name="movie_id" required><br><br>
        <input type="submit" value="View Average Rating">
    </form>

    {% if average %}

        Movie ID = {{ average[0] }}
        Movie Name = {{ average[1] }}
        Average Rating = {{ average[2] }}
    
    {% endif %}
    
    <!-- Add other operations UI components --> 
</body>