<html>
<head>
    <title>Movie Database Management</title>
</head>
<body>
    <h1>Movie Database Management</h1>

    <h2>Database Managers</h2>
    <a href="{{ url_for('add_user') }}">Log In</a>

    <h2>Add New User</h2>
    <a href="{{ url_for('add_user') }}">Add Audience User</a>

    <h2>Director Functions</h2>
    <a href="{{ url_for('get_director_functions') }}"> Director Functions</a>

    <h2>Audience Functions</h2>
    <a href="{{ url_for('get_audience_functions') }}"> Audience Functions</a>

    <!-- Add other links for different pages -->

</body>
</html>






